@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Supermercado+One&display=swap');

* {
    padding: 0;
    margin: 0;
    
}
body {
    background:  #fdf498;
}
h1, h2, h3 {
    /* font-family: 'Comforter', cursive; */
    font-family: 'Supermercado One', cursive;
    padding: 1rem;
}
h1 {
    font-size: 5rem;
    margin-top: 2rem;
    
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
p {
    font-family: 'Supermercado One', cursive;
    background: #f37736 ;
    font-size: 1.25rem;
    margin: 3rem;
    padding: 4rem;
    line-height: 1.6rem;
}
img {
    height: 15rem;
    width: 20rem;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: end;
    justify-content: space-between;
    background:  #7bc043;;
    
}
nav ul {
    list-style: none;
    font-family: 'Supermercado One', cursive;
    display: flex;
    flex-direction: row;
  
}

nav ul li {
    /* padding: 1.25rem 1rem 1rem; */
    background:  #7bc043;
    padding-top: 1.2rem;
    
}

nav ul li a{
    color: #fff;
    /* background:  #7bc043; */
    padding: 1.2rem .75rem;
    
    
}
/* nav ul li:hover {
    padding: 1.25rem 1.25rem 0 0;
    font-size: 1.25rem;
    color: #0392cf;
    cursor: pointer;
} */

nav ul li:hover {
    background: #0392cf;
    cursor: pointer;
}
/* nav ul li a:hover {
    background: #0392cf;
    cursor: pointer;
} */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    font-family: 'Supermercado One', cursive;
    visibility: hidden;
    width: 80px;
    background-color: #ee4035;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 105%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

small {
    color: #fff;
}
small:hover {
    color: #0392cf;
}
.piano-logo {
    height: 30px;
    width: 30px;
}
.piano:hover {
    background: #0392cf;
}
.logo-div {
    /* padding: 12px; */
}
.logo-div:hover {
    background: #0392cf;
}
.logo-div img {
    padding: .75rem .75rem .75rem .85rem;
    margin-top: .2rem;
}
.grid-div {
    display: grid;
    justify-items: center;
    padding-top: 2rem;
}
.rock-me-image {
    height: 19rem;
    width: 30rem;
    padding: 2rem;
}
.text-blue {
    color: #0392cf; 
}
.text-red {
    color: #ee4035;
    cursor: pointer;
    transition-timing-function: ease-in;
    transition: .2;
}
.text-red-no-hover-blue {
    color: #ee4035;
}
.text-green {
    color: #7bc043;
}
.text-green:hover {
    color: #0392cf;
    transition: .2;
    transition-timing-function: ease-out;
}
.columns {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.col {
    text-align: center;
    padding: 1rem;
}

.text-opera {
    font-size: 1.25rem;
    margin: 1rem;
    padding: 2rem;
    line-height: 1.5rem;
    text-align: left;
}

.read-more-a-tag {
    text-decoration: none;
    color: #fdf498; 
    background: #f37736;
}

.read-more-a-tag:hover {
    color: #0392cf;     
}
.home-button-div {
    /* margin: 5rem 0 3rem; */
    padding: 5rem 0 3rem;
}
.go-home-a-tag {
    color: #fff;
    background: #ee4035;
    font-size: 1.5rem; 
    padding: 1rem;
    transition: .2s;
    transition-timing-function: ease-in;
    border-radius: 12px;
    font-family: 'Supermercado One', cursive;
   
}
.go-home-a-tag:hover {
    padding: 1.25rem;
    background: #0392cf;
    transition: .2s;
    transition-timing-function: ease-out;
}

.opera-button-div {
    margin: 2rem 0 5rem;
}

footer {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background:  #7bc043;
    
}
footer ul {
    list-style: none;
    font-family: 'Supermercado One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 1rem 0 0; */
    padding: 1rem;
    
}

footer ul li {
    display: flex;
    justify-content: center;
    padding: .35rem;
}

footer ul li a{
    color: #fff;
    font-size: 1.25rem;
}
footer ul li a:hover {
    color: #0392cf;
    cursor: pointer;
}
.copyright {
    margin: 1rem 0;
}

.copyright a{
    bottom: 10px;
    font-family: 'Supermercado One', cursive;
    color: black;  
}
.fas {
    font-size: 10px;
    color: #7bc043;
}
.fas:hover {
    font-size: 10px;
    color: #0392cf;
}
.amazon-music {
    margin: 1.5rem;
}


@media screen and (max-width: 1024px){
    .columns {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 768px){
    img {
        height: 10rem;
        width: 15rem;
    }
    nav ul li a{
        font-size: .85rem;
    }
    h1 {
        font-size: 3rem;
        margin-top: 1rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
        margin: 1.5rem;
        padding: 2rem;
        line-height: 1.25rem;
    }
    .rock-me-image {
        height: 15rem;
        width: 25rem;
        padding: 1.5rem;
    }
}
@media screen and (max-width: 480px){
    /* img {
        height: 5rem;
        width: 10rem;
    } */
    .rock-me-image {
        height: 10rem;
        width: 16rem;
        padding: 1.25rem;
    }
    nav ul li a{
        font-size: .75rem;
    }
    nav ul li {
        padding: 1.25rem .25rem 1rem;
  
    }
    h1 {
        font-size: 2rem;
        margin-top: 1rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    p {
        font-size: 1rem;
        margin: 1rem;
        padding: 1.25rem;
        line-height: 1.15rem;
    }
}

